body{
    padding: 20px;
    padding-bottom: 500px;

}
p{
    color:green;
    font-size: 30px  ;
}
/* classes e ids */

.meu-paragrafo{
    background-color: black;
    color:red
}
#titulo-principal{
    background-color: yellow;
    color: black;
    padding: 10px;
    font-family: Helvetica;
}

/* todos Elementos da pagina(*), listas */ 

*{
    font-family: Arial;
}
p,h1{
    border-bottom:1px solid red;
}

/* Box Model */

.box-model{
    width: 200px;
    height: 100px;
    border: 1px solid blue;
    padding: 20px;
   
     
}
/* propriedades de texto */
.alinhamento{
    text-align: center;
}
.transform-minuscula{
    text-transform:lowercase
}
.transform-maiuscula{
    text-transform: uppercase;
}

/* Espacamento entre linhas e letras */
.espacamento-texto{
    width: 150px ;
    line-height: 40px;
    letter-spacing: 8px;
}
/* links */
.decoration{
    text-decoration: none;

}
.visitado:visited{
    color:orange;
}
.estilo-hover:hover{
    background-color: steelblue;
}

/* Links em buttom */

.btn{
    background-color: aqua;
    border:3px solid red;
    border-radius: 5px;
    color:black;
    text-decoration: none;
    display: block;
    width:120px;
    padding: 12px 7px;
    text-align: center;
    margin:20px;
    transition:0.5s;
    


}

.btn:hover{
    background-color: brown;
}
.sem-estilo{
    list-style: none;
}

/* Display */
.inline{
    width: 50px;
    height: 50px;
    background-color: teal;
    margin:5px;
    display: inline-block;
}
.bloco{
    display: block;
}
/* position fixed */
.elemento-fixo{
    position: fixed;
    left:0;
    top:0;
    width: 100px;
    text-align: center;
    background-color: blue;
    border-bottom: 2px solid #342299;
    color:#fff;
}